{% extends "index.html" %}
        {% block content %}
        <div class="container-fluid" style="background-color: black;">
          <div class="container">
            <div class="row card-row">
              <div class="col-sm">
                <div class="card" style="width: 18rem;">
                  <video src="./static/videos/Falling_Blocks.mp4" autoplay muted controls></video>
                  <div class="card-body">
                    <h5 class="card-title">Falling blocks game | Unity C#</h5>
                    <p class="card-text">Single-player game with an objective of surviving falling blocks with each block's speed increasing over time.</p>
                    <a href="https://drive.google.com/drive/folders/1L_SggmNycV4f6V9vzpuZLUNvu2_ygNZX" class="btn btn-dark">Link</a>
                  </div>
                </div>
              </div>
              <div class="col-sm">
                <div class="card" style="width: 18rem;">
                  <video src="./static/videos/NL_SQL.mp4" autoplay muted controls></video>
                  <div class="card-body">
                    <h5 class="card-title">Converting Natural Language query to SQL to query a Train database</h5>
                    <p class="card-text">Created a Discord bot which takes in the user's input, converts it to SQL using NLP and then queries an existing local database.</p>
                    <a href="https://github.com/Dil8ert/NL_TO_SQL" class="btn btn-dark">Link</a>
                  </div>
                </div>
              </div>
              <div class="col-sm">
                <div class="card" style="width: 18rem;">
                  <video src="./static/videos/covid_stats.mp4" autoplay muted controls></video>
                  <div class="card-body">
                    <h5 class="card-title">Covid Stats and Visualization using Discord.py</h5>
                    <p class="card-text">Real time visualization and trend visualization of covid data</p>
                    <a href="https://github.com/Dil8ert/Covid_Data_StatsBot" class="btn btn-dark">Link</a>
                  </div>
                </div>
              </div>
            </div>
        <div class="row card-row">
              <div class="col-sm">
                <div class="card" style="width: 18rem;">
                  <video src="./static/videos/rolling_table.mp4" autoplay muted controls></video>
                  <div class="card-body">
                    <h5 class="card-title">Rolling Table Game | Unity C#</h5>
                    <p class="card-text">Single player 2D game in which direction of the player changes with the camera angle and enemy objects push the player outside the table. Objective is to stay on the table at all conditions.</p>
                    <a href="https://drive.google.com/drive/folders/1vheLuXoB0g2mIv9pw4ilMYOdX_2xOjkE" class="btn btn-dark">Link</a>
                  </div>
                </div>
              </div>
              <div class="col-sm">
                <div class="card" style="width: 18rem;">
                  <video src="./static/videos/hololens.mp4" autoplay muted controls></video>
                  <div class="card-body">
                    <h5 class="card-title">Hololens 2 covid data visualisation</h5>
                    <p class="card-text">Covid data visualisation using unity's mrtk</p>
                    <a href="#" class="btn btn-dark">Link</a>
                  </div>
                </div>
              </div>
              <div class="col-sm">
                <div class="card" style="width: 18rem;">
                  <video src="./static/videos/prototype_3.mp4" autoplay muted controls></video>
                  <div class="card-body">
                    <h5 class="card-title">Jumping Game</h5>
                    <p class="card-text">Objective of the game is to gain maximum distance without hitting obstacles</p>
                    <a href="#" class="btn btn-dark">Link</a>
                  </div>
                </div>
              </div>
            <!-- <div class="row card-row">
              <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                  <video src="./static/videos/tindog.mp4" autoplay muted controls></video>
                  <div class="card-body">
                    <h5 class="card-title">Bootstrap CSS Website</h5>
                    <p class="card-text">Conceptual website built using HTML CSS Js</p>
                    <a href="#" class="btn btn-dark">Link</a>
                  </div>
                </div>
              </div>
            

            <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                  <video src="./static/videos/dice.mp4" autoplay muted controls></video>
                  <div class="card-body">
                    <h5 class="card-title">Dice game</h5>
                    <p class="card-text">Dice game using HTML CSS JS</p>
                    <a href="#" class="btn btn-dark">Link</a>
                  </div>
                </div>
              </div>
            </div> -->
          



          </div>
        </div>
        {% endblock %}